<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/layout/layout}">
<head>
    <meta charset="UTF-8">
    <title>메인</title>
</head>
<body>
<!-- content -->
<div layout:fragment="content">
    <!--여기서부터-->

    <!--여기까지 작업하시면 됩니다-->
</div>
</body>

<!--이거밖에서 스크립트 작성하면 안돌아갑니다...-->
<div layout:fragment="scripts">
    <script>
        console.log("* 2025 SQLD 일정 *");
        console.log("[회차]          [원서접수]                [수험표발급]         [시험일]            [사전점수공개]           [최종합격발표]");
        console.log("제 56회     2025.02.03 ~ 2025.02.07        2025.02.21         2025.03.08      2025.03.28 ~ 2025.04.01         2025.04.04");
        console.log("제 57회     2025.04.28 ~ 2025.05.02        2025.05.16         2025.05.31      2025.06.20 ~ 2025.06.24         2025.06.27");
        console.log("제 58회     2025.07.21 ~ 2025.07.25        2025.08.08         2025.08.23      2025.09.12 ~ 2025.09.16         2025.09.19");
        console.log("제 59회     2025.10.13 ~ 2025.10.17        2025.10.31         2025.11.16      2025.12.05 ~ 2025.12.09         2025.12.12");
        console.log("");
        console.log("* 2025 정보처리기사 일정 *");
        console.log("[회차]          [필기원서접수]                [필기시험]                   [실기접수]                  [실기시험]            [최종합격발표]");
        console.log("제 1회     2025.01.13 ~ 2025.01.16     2025.02.07 ~ 2025.03.04      2025.03.24 ~ 2025.03.27      2025.04.19 ~ 2025.05.09       2025.06.13");
        console.log("제 2회     2025.04.14 ~ 2025.04.17     2025.05.10 ~ 2025.05.30      2025.06.23 ~ 2025.06.26      2025.07.19 ~ 2025.08.06       2025.09.12");
        console.log("제 3회     2025.07.21 ~ 2025.07.24     2025.08.09 ~ 2025.09.01      2025.09.22 ~ 2025.09.25      2025.11.01 ~ 2025.11.21       2025.12.24");
    </script>
</div>
</html>