.login-content {
    padding: 30px;
    margin: 0 auto;
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.login-content input {
    padding: 15px;
    border-radius: 10px;
    border: 1px solid gray;
}

.sign-in-btn {
    display: flex;
    justify-content: center;
}
.sign-in-btn:hover img {
    cursor: pointer;
    transform: scale(1.2);
    content: url('/image/icon/sign-in-push.svg');
}