<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/layout/layout}">
<head>
    <meta charset="UTF-8">
    <title>TITLE</title>
    <link rel="stylesheet" href="/css/hyepin/common/sign.css">
</head>
<body>
<!-- content -->
<div layout:fragment="content">
    <!--여기서부터-->
    <form id="loginForm">
        <div class="sign-content">
            <h3>ID</h3>
                <input type="text" name="username" placeholder="ID를 입력하세요">
            <h3>PW</h3>
                <input type="text" name="password" placeholder="PW를 입력하세요">
            <h4>💡로그인 시 브라우저를 닫더라도 1일 동안 자동로그인이 유지됩니다.<br>
                &nbsp;&nbsp; &nbsp;&nbsp;원치 않으실 경우, 반드시 로그아웃을 해주세요</h4>
        </div>
    </form>

    <div class="sign-btn-container">
        <div class="sign-in-btn">
            <img src="/image/icon/sign-in.svg" alt="로그인버튼">
        </div>
    </div>

    <div class="sign-content-bottom">
        <a href="/view/common/findIdPw"><div>ID / PW 찾기</div></a>
        <div>|</div>
        <a href="/view/common/join"><div>회원가입</div></a>
    </div>
    <!--여기까지 작업하시면 됩니다-->
</div>
</body>

<!--이거밖에서 스크립트 작성하면 안돌아갑니다...-->
<div layout:fragment="scripts">
    <script src="/js/hyepin/common/login.js"></script>
</div>
</html>