<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/layout/layout}">
<head>
    <meta charset="UTF-8">
    <title>TITLE</title>
    <link rel="stylesheet" href="/css/hyepin/admin/main.css">
</head>
<body>
<!-- content -->
<div layout:fragment="content">
    <div class="container">
        <div class="sidebar">
            <div class="sidebar-box">
                <h2>관리자 메뉴</h2>
                <a href="#statistics">통계</a>
                <a href="#user-management">학생 관리</a>
                <a href="#user-class">기수 설정</a>
            </div>
        </div>
        <div class="main-content">
            <section id="statistics">
                <h2 class="section-title">📊 통계</h2>
                <div class="statistics-section">
                    <section class="wrongRateChart">
                        <div class="box">문제별 오답률 TOP 10 &nbsp;
                            <select id="difficultySelect">
                                <option value="EASY">초급</option>
                                <option value="MEDIUM">중급</option>
                                <option value="HARD">고급</option>
                            </select>
                        </div>
                        <div class="chart-container">
                            <canvas id="wrongRateChart"></canvas>
                            <div style="margin-top: 10px;">각 차트를 클릭하면 해당 문제 상세 페이지로 이동합니다.</div>
                        </div>
                    </section>
                    <section class="difficultyChart">
                        <div class="box">난이도별 문제 해결률 분석</div>
                        <div class="chart-container">
                            <canvas id="difficultyChart"></canvas>
                        </div>
                    </section>
                </div>

            </section>

            <section id="user-management">
                <h2 class="section-title">🧑‍🏫 학생 관리</h2>
                <div class="box">권한 부여</div>
                <div class="chart-container" style="height: 100%;">
                    <div class="class-search">
                        <div>
                            제<input class="class-number" id="classNumSelect" type="number">기 &nbsp;
                            <input class="styled-button" onclick="getStudentListByClassNum()" type="button" value="조회">
                        </div>
                        <input class="styled-button" onclick="setPageAndFetch()" type="button" value="전체보기">
                    </div>
                    <table>
                        <thead>
                        <tr>
                            <th>고유ID</th>
                            <th>기수</th>
                            <th>이름</th>
                            <th>ID</th>
                            <th>가입일자</th>
                            <th>권한 변경</th>
                            <th>관리</th>
                        </tr>
                        </thead>
                        <tbody>
                        <!-- 데이터가 여기에 추가됩니다 -->
                        </tbody>
                    </table>

                    <div class="pagination" id="pagination">
                        <button id="prevPageBtn" class="styled-button">이전</button>
                        <button id="nextPageBtn" class="styled-button">다음</button>
                    </div>
                </div>

                <div class="box">
                    현재 기수 학생별 평균 점수 및 랭킹 분석
                    <select id="difficultySelect2">
                        <option value="EASY">초급</option>
                        <option value="MEDIUM">중급</option>
                        <option value="HARD">고급</option>
                        <option value="TEST">시험</option>
                    </select>
                </div>
                <div class="chart-container">
                    <canvas id="rankingChart"></canvas>
                </div>
                <div class="box">현재 기수 학생별 점수 변화
                    <select id="difficultySelect3">
                        <option value="EASY">초급</option>
                        <option value="MEDIUM">중급</option>
                        <option value="HARD">고급</option>
                        <option value="TEST">시험</option>
                    </select>
                    <select id="studentSelect">
                    </select>
                </div>
                <div class="chart-container">
                    <canvas id="scoreTrendChart"></canvas>
                </div>

            </section>
            <section id="user-class">
                <h2 class="section-title">🏫 기수 설정</h2>
                <div class="box">기수를 설정하고 관리할 수 있습니다.</div>
                <div class="class-container">
                    <div>현재 기수: 제<span th:text="${classNum}" id="current_classNum"></span>기</div>
                    <div><span>제</span><input class="class-number" id="classNum" type="number"><span>기</span></div>
                    <input class="styled-button" id="classConfirmBtn" type="button" value="확인">
                </div>
            </section>
        </div>
    </div>
</div>
</body>

<!--이거밖에서 스크립트 작성하면 안돌아갑니다...-->
<div layout:fragment="scripts">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="/js/hyepin/admin/main.js"></script>
    <script src="/js/hyepin/admin/problem-chart.js"></script>
    <script src="/js/hyepin/admin/student-list.js"></script>
    <script src="/js/hyepin/admin/student-chart.js"></script>

</div>
</html>