<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<footer th:fragment="footer" id="footer">
    <div class="footer-container">
        <p class="footer-text">© 2025 All Rights Reserved.</p>
        <p class="footer-text">Made by <span class="highlight">안혜빈, 한상인</span></p>
        <p class="footer-text">Contact: <a href="mailto:hansam8456@naver.com" class="email-link">hansam8456@naver.com</a></p>
        <p class="footer-text"><a href="/view/admin">관리자</a></p>
    </div>
</footer>
</html>
