<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<nav th:fragment="nav">
    <div id="nav_section"  th:if="${#authorization.expression('isAuthenticated()')}">
        <!--teacher 부분은 th:if 로 나중에 role을 검사할 예정입니다-->
        <a href="/view/teacher/problemRegist">문제등록</a>
        <a href="/view/common/problemList">문제목록</a>

        <a href="/view/student/difficulty">문제풀기</a>
        <a href="/view/student/scoreList">성적조회</a>

        <a href="/view/common/postRegist">게시글작성</a>
        <a href="/view/common/postList?category=F">자유게시판</a>
        <a href="/view/common/postList?category=S">건의사항</a>
    </div>
</nav>
</html>
