<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/layout/layout}">
<head>
    <meta charset="UTF-8">
    <title>TITLE</title>
</head>
<body>
<!-- content -->
<div layout:fragment="content">
    <div id="adjust_section">
        <div id="main_section">
            <div id="main_info_section">
                <div class="main_info_text">문제 질문</div>
                <textarea name="question" class="main_info_input"></textarea>
                <div class="main_info_text">문제 설명</div>
                <textarea name="description" class="main_info_input"></textarea>
                <div class="main_info_text">난이도</div>
                <select name="difficulty" id="main_info_difficulty">
                    <option value="EASY">초급</option>
                    <option value="MEDIUM">중급</option>
                    <option value="HARD">고급</option>
                </select>
                <div id="line"></div>
            </div>
            <div id="main_choice_section">
                <div class="main_choice_description_text">* 보기는 최소 5개 등록하셔야 합니다</div>
                <div class="main_choice_description_text">* 반드시 하나의 정답을 설정하셔야 합니다</div>
                <!-- 이 중에서 하나는 반드시 정답 설정되게 해야함 -->
                <div class="main_choice_text">보기 1</div>
                <textarea class="main_choice_input"></textarea>

                <div class="main_choice_text">보기 2</div>
                <textarea class="main_choice_input"></textarea>

                <div class="main_choice_text">보기 3</div>
                <textarea class="main_choice_input"></textarea>

                <div class="main_choice_text">보기 4</div>
                <textarea class="main_choice_input"></textarea>

                <div class="main_choice_text">보기 5</div>
                <textarea class="main_choice_input"></textarea>

            </div>

            <div id="button_container">
                <button id="add_choice_btn">+ 보기 추가</button>
                <button id="regist_btn">문제 등록</button>
            </div>

        </div>
    </div>
</div>
<script src="/js/sangin/teacher/problemRegist.js"></script>
</body>

<!--이거밖에서 스크립트 작성하면 안돌아갑니다...-->
<div layout:fragment="scripts">
    <script>
        <!--스크립트 여기 안에서 작성하시면 돼요-->
    </script>
</div>
</html>