<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/layout/layout}">
<head>
    <meta charset="UTF-8">
    <title>TITLE</title>
</head>
<body>
<!-- content -->
<div layout:fragment="content">
    <div id="adjust_section">
        <div id="main_section">

            <div id="search_container">
                <input type="text" id="search_input">
                <button id="search_btn">검색</button>
            </div>
            <div id="problem_list_text">문제 목록</div>
            <div id="problem_text_box">
                <span id="problem_id_text">문제 ID</span>
                <span id="problem_question_text">문제 질문</span>
                <span id="problem_created_by_text">작성자</span>
                <span id="problem_created_at_text">작성일</span>
            </div>
            <div id="problem_list_container">

                <div class="problem">
                    <span class="problem_id problem_text">1</span>
                    <span class="problem_question problem_text">이것의 정답은 무엇입니까?</span>
                    <span class="problem_created_by problem_text">관리자</span>
                    <span class="problem_created_at problem_text">2025.03.07</span>
                </div>

                <div class="problem">
                    <span class="problem_id problem_text">2</span>
                    <span class="problem_question problem_text">이것의 정답은 무엇입니까?</span>
                    <span class="problem_created_by problem_text">관리자</span>
                    <span class="problem_created_at problem_text">2025.03.07</span>
                </div>

                <div class="problem">
                    <span class="problem_id problem_text">3</span>
                    <span class="problem_question problem_text">이것의 정답은 무엇입니까?</span>
                    <span class="problem_created_by problem_text">관리자</span>
                    <span class="problem_created_at problem_text">2025.03.07</span>
                </div>

                <div class="problem">
                    <span class="problem_id problem_text">4</span>
                    <span class="problem_question problem_text">이것의 정답은 무엇입니까?</span>
                    <span class="problem_created_by problem_text">관리자</span>
                    <span class="problem_created_at problem_text">2025.03.07</span>
                </div>
            </div>

        </div>
    </div>
</div>
</body>

<!--이거밖에서 스크립트 작성하면 안돌아갑니다...-->
<div layout:fragment="scripts">
    <script>
        <!--스크립트 여기 안에서 작성하시면 돼요-->
    </script>
</div>
</html>