<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>시험지</title>
    <link rel="stylesheet" href="/css/sangin/student/exam.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>

<body>
<div id="adjust_section">
    <div id="exam_paper">
        <div id="main_section">
            <!-- header -->
            <div id="main_header">
                <div id="main_header_box1">
                    <span id="box1_left">연습용</span>
                    <span id="box1_right">랜덤형</span>
                </div>
                <div id="main_header_box2">
                    20XX 수강생 SQL 문제지
                </div>
                <div id="main_header_box3">
                </div>
                <div id="main_header_box4">
                    <span id="current_name_text">성명</span>
                    <span id="current_name" th:text="${#authentication.principal.name}"></span>
                    <!--<span id="current_name">${currentUser.name}</span>-->
                </div>
            </div>
            <!-- center -->
            <div id="main_content">
                <div id="main_left_section">

                </div>

                <div id="main_right_section">

                </div>
            </div>
        </div>
    </div>
</div>
<a href="/" id="home_link">
    Home
</a>
<button id="submit_exam_btn">
    제출
</button>
<script src="/js/sangin/student/loadExam.js"></script>
<script src="/js/sangin/student/submitExam.js"></script>
</body>

</html>