<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/layout/layout}">
<head>
    <meta charset="UTF-8">
    <title>난이도 선택</title>

    <link rel="stylesheet" href="/css/sangin/student/problemList.css">
<!--    <script src="/js/sangin/student/problemList.js"></script>-->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

</head>
<body>
<!-- content -->
<div layout:fragment="content">
    <div id="adjust_section">
        <div id="main_section">
            <a href="/view/student/exam?difficulty=easy" id="easy_btn">초급</a>
            <a href="/view/student/exam?difficulty=medium" id="medium_btn">중급</a>
            <a href="/view/student/exam?difficulty=hard" id="hard_btn">고급</a>
            <a href="/view/student/exam?difficulty=test" id="test_btn">시험</a>
        </div>
    </div>
</div>
</body>

<!--이거밖에서 스크립트 작성하면 안돌아갑니다...-->
<div layout:fragment="scripts">
        <script src="/js/sangin/student/problemList.js"></script>
</div>
</html>