<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/layout/layout}">
<head>
    <meta charset="UTF-8">
    <title>문제 목록</title>
    <link rel="stylesheet" href="/css/sangin/common/problemList.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
<!-- content -->
<div layout:fragment="content">
    <div id="adjust_section">
        <div id="main_section">

<!--            <div id="search_container">-->
<!--                <input type="text" id="search_input">-->
<!--                <button id="search_btn">검색</button>-->
<!--            </div>-->
            <div id="problem_list_text">문제 목록</div>
            <div id="problem_list_shadow">
                <div id="problem_text_box">
                    <span id="problem_id_text">문제 ID</span>
                    <span id="problem_question_text">문제 질문</span>
                    <span id="problem_created_by_text">작성자</span>
                    <span id="problem_created_at_text">작성일</span>
                    <span id="problem_status_text">상태</span>
                    <span id="problem_delete_btn_text">삭제</span>
                </div>
                <div id="problem_list_container">
                    <!--동적 생성-->
                </div>
            </div>


        </div>
    </div>
</div>
</body>

<!--이거밖에서 스크립트 작성하면 안돌아갑니다...-->
<div layout:fragment="scripts">
    <script src="/js/sangin/common/problemList.js"></script>
</div>
</html>