#adjust_section {
    width: 100%;
    display: flex;
    justify-content: center;
}

#main_section {
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    gap: 100px;
    height: 600px;
}

#main_section > a {
    font-size: 60px;
    text-decoration: none;
    color: inherit;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
    border-radius: 10px;
    transition: 0.3s ease;
    background-color: #ddd;
    /*box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);*/

}

#easy_btn:hover {
    background-color: #a9a9a9;
    scale: 1.1;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

#medium_btn:hover {
    background-color: #66ff00;
    scale: 1.1;
    color: white;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

#hard_btn:hover {
    scale: 1.1;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

#test_btn:hover {
    color: red;
    font-weight: bold;
    scale: 1.1;
    box-shadow: 20px 20px 20px 0px rgba(255, 1, 1, 0.5);
    animation: wave 0.01s infinite ease-in-out;

}
@keyframes wave {
    0% { transform: translateY(0px); }
    50% { transform: translateY(-10px); } /* 위로 이동 */
    100% { transform: translateY(0px); } /* 원래 위치로 돌아옴 */
}

/* ✅ 파동 효과 적용 */
.wave-effect {
    display: inline-block;
    animation: wave 2s infinite ease-in-out;
}
